/*CSS Dashboard Principal*/
#welcome {
    min-height: 350px;
    background: #fff;
    padding: 30px 0;
}
.wel_header {
    text-align: center;
    color: #222222;
    padding-top: 0;
}
.fw-heading.fw-heading-center {
    padding-bottom: 40px;

}
.wel_header h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif !important;
    color: #222222;
}
.wel_header p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#welcome .single_item {
    padding-top: 30px;
    text-align: center;
}
#welcome .welcome_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    transition: .7s;
}
#welcome .welcome_icon i {
    margin-top: 25%;
    font-size: 50px;
    transition: .7s;
}
#welcome .item_list h4 {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #393939;
    transition: 0.7s;
    font-family: 'Roboto Slab', serif;
}
#welcome .item_list p {
    font-size: 14px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#welcome .item_list:hover .welcome_icon {
    background: #4c3221;
    cursor: pointer;
}
#welcome .item_list:hover .welcome_icon i {
    color: #fff;
}
#welcome .item_list:hover h4 {
    color: #4c3221; cursor: pointer;
}


/* CSS Dashbord Project */
.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto;
    /*padding: 10px;*/
}

.grid-item {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.caixaLat, .caixaLatOpaca{
    margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
    width: 160px;
}

.caixaLat{
    background-color: #20b2aa;
    color: #FFF;
}

.caixaLatOpaca{
    color: #ccc ;
}
   
#check{
    display: none;
}

.mesmo-tamanho {
    width: 100%;
    white-space: normal;
}

/* CSS Elastic-TextArea*/
.elasticteste{
    min-height: 50px;
    /*outline: 0;*/
    resize: none;
    line-height: 20px;
}