/*CSS Dashboard Principal*/
#welcome {
    min-height: 350px;
    background: #fff;
    padding: 30px 0;
}
.wel_header {
    text-align: center;
    color: #222222;
    padding-top: 0;
}
.fw-heading.fw-heading-center {
    padding-bottom: 40px;

}
.wel_header h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif !important;
    color: #222222;
}
.wel_header p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#welcome .single_item {
    padding-top: 30px;
    text-align: center;
}
#welcome .welcome_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    transition: .7s;
}
#welcome .welcome_icon i {
    margin-top: 25%;
    font-size: 50px;
    transition: .7s;
}
#welcome .item_list h4 {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #393939;
    transition: 0.7s;
    font-family: 'Roboto Slab', serif;
}
#welcome .item_list p {
    font-size: 14px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#welcome .item_list:hover .welcome_icon {
    background: #4c3221;
    cursor: pointer;
}
#welcome .item_list:hover .welcome_icon i {
    color: #fff;
}
#welcome .item_list:hover h4 {
    color: #4c3221; cursor: pointer;
}


/* CSS Dashbord Project */
.grid-container {
    display: grid;
    /*grid-column-gap: 8px;*/
    grid-column-gap: 5%;
    grid-row-gap: 2%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    /*padding: 10px;*/

   
}

.grid-item {
    /*padding: 10px;
    font-size: 17px;
    border-radius: 5px;
*/
    padding: 10%;
    font-size: 100%;
    border-radius: 5%;

    text-align: center;
}

.midBox{
    background-color: #66d065;
}

.menuBox{
    background-color: #0006ff;
}

.sideBox{
    background-color: #20b2aa;
}

.midBox, .menuBox, .sideBox{
    color: #FFF;
}

.transparentBox{
    opacity: 1; 
    color: #ccc ;
}

.midBox, .menuBox, .sideBox, .transparentBox{
    margin-bottom: 10px;
    text-align: center;
}

.bigBox{
    /*line-height: 50px;*/
    line-height: 2em;
    /*width: 155px;*/
    /*width: 8em;*/
}

.smallBox{
    /*line-height: 25px;*/
    line-height: 1em;
    /*width: 155px;*/
    /*width: 8em;*/
}

.planningBox{
    line-height: 1em;
    width: 25em;
}

.integrationBox{
    line-height: 10.5em;
    /*width: 9em;*/
}

.scopeBox{
    line-height: 7.1em;
    /*width: 9em;*/
}

.timeBox{
    line-height: 18.7em;
    /*width: 9em;*/
}

.hrBox{
    line-height: 3em;
    /*width: 9em;*/
    height: 19.7em;
    padding-top: 7.2em;

}

.verticalOneBox{
    line-height: 1.8em;
    /*width: 9em;*/
}

.mediumBox{
    line-height: 1.5em;
    /*width: 8em;*/
}

.costBox{
    line-height: 7.2em;
    /*width: 9em;*/
}

.qualityBox{
    line-height: 8em;
    /*width: 9em;*/
}

.procurementBox{
    line-height: 7.2em;
    /*width: 9em;*/
}

.stakeholderBox{
    line-height: 6.1em;
    /*width: 9em;*/
}

.biggerBox{
    line-height: 3em;
    /*width: 8em;*/
}

.hiperBox{
    line-height: 4em;
}

.integrationBox, .scopeBox, .timeBox, .hrBox, .verticalOneBox, .costBox, .qualityBox, .procurementBox, .stakeholderBox{
    width: 9em;
}

.hiperBox, .bigBox, .smallBox, .mediumBox, .biggerBox{
    width: 8em;
}

.transparentBoxMenu{
    line-height: 2em;
     width: 11.5em;
}

/* Formatações links da Phases Project Page*/
.grid-container  a:link .midBox{
    /*color: #FFF;*/
}

.grid-container a:hover .midBox{
    /*color: red;*/
    background: #00ad0f; 
}

.grid-container a:hover{
    text-decoration: none;
}


/* CSS Elastic-TextArea*/
.elasticteste{
    min-height: 50px;
    /*outline: 0;*/
    resize: none;
    line-height: 20px;
}