/*CSS Dashboard Principal*/
#welcome {
    min-height: 350px;
    background: #fff;
    padding: 30px 0;
}
.wel_header {
    text-align: center;
    color: #222222;
    padding-top: 0;
}
.fw-heading.fw-heading-center {
    padding-bottom: 40px;

}
.wel_header h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif !important;
    color: #222222;
}
.wel_header p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#welcome .single_item {
    padding-top: 30px;
    text-align: center;
}
#welcome .welcome_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    transition: .7s;
}
#welcome .welcome_icon i {
    margin-top: 25%;
    font-size: 50px;
    transition: .7s;
}
#welcome .item_list h4 {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #393939;
    transition: 0.7s;
    font-family: 'Roboto Slab', serif;
}
#welcome .item_list p {
    font-size: 14px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#welcome .item_list:hover .welcome_icon {
    background: #4c3221;
    cursor: pointer;
}
#welcome .item_list:hover .welcome_icon i {
    color: #fff;
}
#welcome .item_list:hover h4 {
    color: #4c3221; cursor: pointer;
}


/*  */
.logo{
    width: 100%;
}

.padCalendar{
    margin-bottom: 2em;
}

.pad-modal{
    padding: 3%;
}


/* CSS esconder box da project page*/
@media (max-width: 1199px) {
    .hideBox{
        position: absolute;
            transition: all .2s linear;
            left: -2000px;
    }

    .panel-body{
        padding-top: 0;
    }
}


/* CSS Dashbord Project */
.wrapper{
    display: grid;
}

.menuBox{
    background-color: rgb(88, 95, 94);
}

.integrationColor{
    background: rgb(131, 156, 175);
}
.wrapper a:hover .integrationColor{
    background: rgb(88, 105, 117); 
}

.scopeColor{
    background: #469F33;
}
.wrapper a:hover .scopeColor{
    background: rgb(55, 122, 40); 
}

.timeBox, .timeColor{
    background: #C95F4F;
}
.wrapper a:hover .timeColor{
    background: rgb(141, 65, 54); 
}

.costBox, .costColor{
    background: #00BABA;
}
.wrapper a:hover .costColor{
    background: #157974;
}

.qualityBox, .qualityColor{
    background: #FFC842;
}
.wrapper a:hover .qualityColor{
    /* background: rgb(180, 104, 33); */
    background: rgb(204, 161, 52);
}

.hrBox, .hrColor{
    background: #8F78A4;
}
.wrapper a:hover .hrColor{
    background: rgb(104, 87, 119); 
}

.communicColor{
    background: #E49A6E;
}
.wrapper a:hover .communicColor{
    background: rgb(180, 121, 86);
}

.riskColor{
    background: #8E3636;
}
.wrapper a:hover .riskColor{
    background: rgb(110, 41, 41); 
}

.procurementColor{
    background: #79BF73;
}
.wrapper a:hover .procurementColor{
    background: rgb(87, 138, 82); 
}

.stakeholderColor{
    background: #5792F2;
}
.wrapper a:hover .stakeholderColor{
    background: rgb(67, 111, 182); 
}

.notifBoardColor{
    background: #E5BE7B;
}

.midBox, .menuBox, .sideBox{
        color: #FFF;
}

.midBox, .menuBox, .sideBox, .transparentBox{
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}

@media (min-width: 1200px) {
    .noSpaceSide{
        margin-right: 0;
        padding-right: 0;  
        margin-left: 0;
        padding-left: 0;
    }

    .floatRight{
        float: right;
    }

    #panelPhases{
		margin-left: 5em;
	}

	.wrapper{
		font-size: 0.7em;
		text-align: center;
	}
    
    .midBox{
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 13%;
    }

    .menuBox{
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 12%;
    }

    .sideBox{
        margin: 1%;
    }

    .planningBox{
        width: 37.7%;
    }

    .transparentBox{
        opacity: 1; 
        color: #ccc ;
        margin: 1%;
    }

    .midBox, .menuBox, .sideBox{
        color: #FFF;
    }

    .midBox, .menuBox, .sideBox, .transparentBox{
        margin-bottom: 10px;
        text-align: center;
        border-radius: 5px;
    }

    /*menu*/
    .initiatingBox, .executingBox, .closingBox, .moncontrolBox{
        line-height: 1em;
        width: 10.6%;
    }

    .initiatingBox, .executingBox, .closingBox{
        line-height: 5em;
    }

    .moncontrolBox{
        padding-top: 1em;
    }

    /*side*/
    .integrationBox{
        line-height: 17.5em;
    }

    .scopeBox{
        line-height: 11.7em;
    }

    .timeBox{
        line-height: 23.5em;
    }

    .hrBox{
        line-height: 4em;
        height: 23.4em;
        padding-top: 7.2em;
    }

    .verticalOneBox{
        line-height: 5.6em;
    }

    .costBox{
        line-height: 11.7em;
    }

    .qualityBox{
        line-height: 11.7em;
    }

    .procurementBox{
        line-height: 11.7em;
    }

    .stakeholderBox{
        line-height: 11.7em;
    }

    .transparentBox, .integrationBox, .scopeBox, .timeBox, .hrBox, .verticalOneBox, .costBox, .qualityBox, .procurementBox, .stakeholderBox{
        width: 11.2em;
        margin-top: 0;
    }
}

@media (max-width: 1341px){
    .menuBox{
        width: 13%;
    }
    .planningBox{
        width: 41%;
    }
}

@media (min-width: 1342px) {
    .noSpaceSide{
        margin-right: 0;
        padding-right: 0;  
        margin-left: 0;
        padding-left: 0;
    }

    .floatRight{
        float: right;
    }

    #panelPhases{
		margin-left: 3em;
	}

	.wrapper{
		font-size: 0.8em;
    }
    
    .midBox{
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 13.2%;
    }

    .menuBox{
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 13.2%;
    }

    .sideBox{
        margin: 1%;
    }

    .planningBox{
        width: 41.5%;
    }

    .transparentBox{
        opacity: 1; 
        color: #ccc ;
    }

    .midBox, .menuBox, .sideBox{
        color: #FFF;
    }

    .midBox, .menuBox, .sideBox, .transparentBox{
        margin-bottom: 10px;
        text-align: center;
        border-radius: 5px;
    }

    .integrationBox{
        line-height: 18em;
    }
    
    .timeBox{
        line-height: 24.2em;
    }

    .hrBox{
        line-height: 10em;
        height: 24.2em;
        padding-top: 7.2em;
    }

    .verticalOneBox{
        line-height: 5.7em;
    }

    .transparentBox{
        line-height: 5.6em;
    }

    .scopeBox, .costBox, .qualityBox, .procurementBox, .stakeholderBox{
        line-height: 11.9em;
    }

    .transparentBox, .integrationBox, .scopeBox, .timeBox, .hrBox, .verticalOneBox, .costBox, .qualityBox, .procurementBox, .stakeholderBox{
        width: 14.6%;
        margin-top: 0;
    }

}

/* Formatações links da Phases Project Page*/
.wrapper  a:link .midBox{
    /*color: #FFF;*/
}

/* .wrapper a:hover .midBox{ */
    /*color: red;*/
    /* background: #00ad0f;  */
/* } */

.wrapper a:hover{
    text-decoration: none;
}


/* CSS Elastic-TextArea*/
.elasticteste{
    min-height: 50px;
    /*outline: 0;*/
    resize: none;
    line-height: 20px;
}


/* Icone para DataTables */
td.moreInformationTable {
    background: url('../images/icons/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.moreInformationTable {
    background: url('../images/icons/details_close.png') no-repeat center center;
}

