:root {
    --sidebar-size: 230px;
    --navbar-size: 50px;
    --footer-size: 50px;
}

/* Workspace title in 'list of projects'. */
.workspace-title {
    position: absolute;
    background-color: rgb(255, 233, 105);
    margin: 6.5px 0 0 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}

.workspace-title:hover::before {
    content: "Workspace: ";
}

/* Temporary fix of grid style... */
body {
    display: grid;
    grid-template-columns: val(--sidebar-size) 1fr;
    grid-template-rows: val(--navbar-size) 1fr val(--footer-size);
    grid-template-areas: 
        "nav nav nav"
        "main main main"
        "footer footer footer";
}

aside {
    grid-area: aside;
    padding-top: val(--navbar-size) !important;
    padding-bottom: 7px;
    margin: 0 !important;
}

.wrapper {
    grid-area: main;
}

nav {
    grid-area: nav;
}

footer {
    display: flex;
    grid-area: footer;
    align-items: center;
    justify-content: center;
}
/* End temporary */

/* Scroll bar of a textarea customized */
textarea::-webkit-scrollbar {
    width: 7px !important;
    background-color: #F5F5F5 !important; 
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) !important;
    background-color: #808080 !important; 
}

/* Todos os modais serão centralizados. */
.modal {
	text-align: center;
	padding: 0 !important;
}

button.close:hover {
    color: darkred;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-content {
    border-radius: 8px !important;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

/* testing */
.around {
    margin: 0;
    padding: 15px 0;
    border: 1.6px #3c8e29;
    border-style: none dotted dotted dotted;
    border-radius: 0 0 7px 7px;
}

.process-title {
    color: white;
    background-color: rgb(77, 154, 77);
    border-radius: 4px 4px 0 0;
}

.form-control {
    border-radius: 4px !important;
}

/*CSS Dashboard Principal*/
#welcome {
    min-height: 350px;
    background: #fff;
    padding: 30px 0;
}
.wel_header {
    text-align: center;
    color: #222222;
    padding-top: 0;
}
.fw-heading.fw-heading-center {
    padding-bottom: 40px;

}
.wel_header h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif !important;
    color: #222222;
}
.wel_header p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#welcome .single_item {
    padding-top: 30px;
    text-align: center;
}
#welcome .welcome_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    transition: .7s;
}
#welcome .welcome_icon i {
    margin-top: 25%;
    font-size: 50px;
    transition: .7s;
}
#welcome .item_list h4 {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #393939;
    transition: 0.7s;
    font-family: 'Roboto Slab', serif;
}
#welcome .item_list p {
    font-size: 14px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#welcome .item_list:hover .welcome_icon {
    background: #4c3221;
    cursor: pointer;
}
#welcome .item_list:hover .welcome_icon i {
    color: #fff;
}
#welcome .item_list:hover h4 {
    color: #4c3221; cursor: pointer;
}

/*  */
.logo{
    width: 100%;
}

.padCalendar{
    margin-bottom: 2em;
}

.pad-modal{
    padding: 3%;
}


/* CSS esconder box da project page*/
@media (max-width: 1199px) {
    .hideBox{
        position: absolute;
            transition: all .2s linear;
            left: -2000px;
    }

    .panel-body{
        padding-top: 0;
    }
}


/* CSS Dashbord Project */
.wrapper{
    display: grid;
}

.menuBox{
    background-color: rgb(88, 95, 94);
}


.integrationColor{
    background: rgb(131, 156, 175);
}
.wrapper a:hover .integrationColor{
    background: rgb(88, 105, 117);
}

.scopeColor{
    background: #469F33;
}
.wrapper a:hover .scopeColor{
    background: rgb(55, 122, 40);
}

.timeBox, .timeColor{
    background: #C95F4F;
}
.wrapper a:hover .timeColor{
    background: rgb(141, 65, 54);
}

.costBox, .costColor{
    background: #00BABA;
}
.wrapper a:hover .costColor{
    background: #157974;
}

.disableBox, .disableColor{
    background: #A9A7B0;
}
.wrapper a:hover .disableColor{
    background: #a9a7b0;
}

.qualityBox, .qualityColor{
    background: #FFC842;
}
.wrapper a:hover .qualityColor{
    /* background: rgb(180, 104, 33); */
    background: rgb(204, 161, 52);
}

.hrBox, .hrColor{
    background: #8F78A4;
}
.wrapper a:hover .hrColor{
    background: rgb(104, 87, 119);
}

.communicColor{
    background: #E49A6E;
}
.wrapper a:hover .communicColor{
    background: rgb(180, 121, 86);
}

.riskColor{
    background: #8E3636;
}
.wrapper a:hover .riskColor{
    background: rgb(110, 41, 41);
}

.procurementColor{
    background: #79BF73;
}
.wrapper a:hover .procurementColor{
    background: rgb(87, 138, 82);
}

.stakeholderColor{
    background: #5792F2;
}
.wrapper a:hover .stakeholderColor{
    background: rgb(67, 111, 182);
}

.notifBoardColor{
    background: #E5BE7B;
}

.midBox, .menuBox, .sideBox{
        color: #FFF;
}

.midBox, .menuBox, .sideBox, .transparentBox{
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}

@media (min-width: 1200px) {
    .verticalAlign{
        height:4em;
        width:8em;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .noSpaceSide{
        margin-right: 0;
        padding-right: 0;
        margin-left: 0;
        padding-left: 0;
        background-color:#f5f5f5;
    }

    .floatRight{
        float: right;
    }

    #panelPhases{
		margin-left: 5em;
	}

	.wrapper{
		font-size: 0.9em;
		
	}

    .midBox {
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 13%;
        padding-left: 1em;
    }

    .menuBox{
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 12%;
        padding-left: 1.2em;
    }

    .sideBox{
        margin: 1%;
    }

    .planningBox{
        width: 37.7%;
    }

    .planningBox .verticalAlign{
        width: 1%;
    }

    .transparentBox{
        opacity: 1;
        color: #ccc ;
        margin: 1%;
    }

    .midBox, .menuBox, .sideBox{
        color: #FFF;
    }

    .midBox, .menuBox, .sideBox, .transparentBox{
        margin-bottom: 10px;
        text-align: center;
        border-radius: 5px;
    }

    /*menu*/
    .initiatingBox, .executingBox, .closingBox, .moncontrolBox{
        line-height: 1em;
        width: 10.6%;
    }

    .initiatingBox, .executingBox, .closingBox{
        line-height: 5em;
    }

    .moncontrolBox{
        padding-top: 1em;
    }

    .scheduleBox{
        height:18em;
    }


     .humanBox{
        height:18em;
    }

     .integrationBox{
        height:30em;
    }

    .scheduleBox .verticalAlign, .humanBox .verticalAlign{
        height:18.5em;
        width:10em;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .integrationBox .verticalAlign{
        height:30em;
        width:10em;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .timeBox{
        height: 24.6em;
    }

    .timeBox .verticalAlign{
        height:24.6em;
        width:10em;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .hrBox{
        height: 24.5em;
    }

    .hrBox .verticalAlign{
        height:24.5em;
        width:10em;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .verticalOneBox{
        height: 5.7em;
    }

    .verticalOneBox .verticalAlign{
        height:5.7em;
        width:10em;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .stakeholderBox, .scopeBox, .costBox, .qualityBox, .procurementBox{
        height: 12em;
    }

    .stakeholderBox .verticalAlign, .scopeBox .verticalAlign, .costBox .verticalAlign, .qualityBox .verticalAlign, .procurementBox .verticalAlign{
        height:12em;
        width:10em;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .transparentBox, .integrationBox, .scopeBox, .timeBox, .hrBox, .verticalOneBox, .costBox, .qualityBox, .procurementBox, .stakeholderBox, .scheduleBox, .humanBox{
        width: 14.6%;
        margin-top: 0;
    }
}

@media (max-width: 1341px){
    .menuBox{
        width: 13%;
    }
    .planningBox{
        width: 41%;
    }
}

@media (min-width: 1342px) {
    .verticalAlign{
        width: 14.6%;
    }

    .noSpaceSide{
        margin-right: 0;
        padding-right: 0;
        margin-left: 0;
        padding-left: 0;
        background-color:#f5f5f5;
    }

    .floatRight{
        float: right;
    }

    #panelPhases{
		margin-left: 3em;
	}

	.wrapper{
		font-size: 0.9em;
    }

    .midBox{
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 13.2%;
    }

    .menuBox{
        padding: 0.5em;
        height: 5em;
        margin: 0.5%;
        width: 13.2%;
    }

    .sideBox{
        margin: 1%;
    }

    .planningBox{
        width: 41.5%;
    }

    .planningBox .verticalAlign{
        width: 1%;
    }

    .transparentBox{
        opacity: 1;
        color: #ccc ;
    }

    .midBox, .menuBox, .sideBox{
        color: #FFF;
    }

    .midBox, .menuBox, .sideBox, .transparentBox{
        margin-bottom: 10px;
        text-align: center;
        border-radius: 5px;
    }


     .scheduleBox .verticalAlign, .humanBox .verticalAlign{
        height:17em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .integrationBox{
        height: 30.5em;
    }

    .integrationBox .verticalAlign{
        height:30.5em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }


    .timeBox{
        height: 24.3em;
    }

    .timeBox .verticalAlign{
        height: 24.3em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .hrBox{
        height: 24.3em;
    }

    .hrBox .verticalAlign{
        height:24.3em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .verticalOneBox{
        height: 5.7em;
    }

    .verticalOneBox .verticalAlign{
        height:5.7em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .stakeholderBox, .scopeBox, .costBox, .qualityBox, .procurementBox{
        height: 12em;
    }

    .scheduleBox, .humanBox{
        height:17em;
    }


    .stakeholderBox .verticalAlign, .scopeBox .verticalAlign, .costBox .verticalAlign, .qualityBox .verticalAlign, .procurementBox .verticalAlign{
        height:12em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .transparentBox{
        line-height: 5.6em;
    }

    .transparentBox, .integrationBox, .scopeBox, .timeBox, .hrBox, .verticalOneBox, .costBox, .qualityBox, .procurementBox, .stakeholderBox{
        width: 14.6%;
        margin-top: 0;
    }

}

@media (min-width:1600px){
    .integrationBox{
        height: 32em;
        /* border: 5px solid red; */
    }
}



@media (min-width: 1700px){
    .timeBox{
        height: 25.2em;
    }

    .hrBox{
        height: 25em;
    }
}

@media (min-width:1900px){
    .integrationBox{
        height: 32em;
    }

    .stakeholderBox, .scopeBox, .costBox, .qualityBox, .procurementBox{
        height: 12.7em;
    }

    .timeBox{
        height: 25.5em;
    }

    .hrBox{
        height: 25.5em;
    }

    .verticalOneBox{
        height: 6.2em;
    }
}

@media (min-width: 2400px){
    .planningBox{
        width: 41.5%;
    }

    .planningBox .verticalAlign{
        width: 1%;
    }

     .scheduleBox{
        height:19.5em;
    }

     .humanBox{
        height:19.5em;
    }

    .integrationBox .verticalAlign, .scheduleBox .verticalAlign, .humanBox .verticalAlign{
        height:19.5em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .timeBox{
        height: 26em;
    }

    .timeBox .verticalAlign{
        height: 26em;
        width: 1%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .hrBox{
        height: 26em;
    }

    .hrBox .verticalAlign{
        height: 26em;
        width: 14.6%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .verticalOneBox{
        height: 6.5em;
    }

    .verticalOneBox .verticalAlign{
        height: 6em;
        width: 1%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .stakeholderBox, .scopeBox, .costBox, .qualityBox, .procurementBox{
        height: 13em;
    }

    .stakeholderBox .verticalAlign, .scopeBox .verticalAlign, .costBox .verticalAlign, .qualityBox .verticalAlign, .procurementBox .verticalAlign{
        height: 13em;
        width: 1%;
        text-align:center;
        display: table-cell;
        vertical-align:middle;
    }

    .transparentBox{
        line-height: 5.6em;
    }

    .transparentBox, .integrationBox, .scopeBox, .timeBox, .hrBox, .verticalOneBox, .costBox, .qualityBox, .procurementBox, .stakeholderBox, .scheduleBox, .humanBox{
        width: 14.6%;
        margin-top: 0;
    }
}


/* Formatações links da Phases Project Page*/
.wrapper  a:link .midBox{
    /*color: #FFF;*/
}

.wrapper a:hover{
    text-decoration: none;
}


/* CSS Elastic-TextArea*/
.elasticteste{
    min-height: 70px;
    /*outline: 0;*/
    resize: none;
    line-height: 20px;
}


/* Icone para DataTables */
td.moreInformationTable {
    background: url('../images/icons/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.moreInformationTable {
    background: url('../images/icons/details_close.png') no-repeat center center;
}

.content-wrapper{
padding-top:50px;
}

.page-header{
   border-bottom: 1px solid #eee; font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;font-size: 2em;  
}   
.panel-body{
background-color: #fff
}
.h1, h1{
    font-size: 2em;
    font-family: inherit;
    font-weight: 500;
}
   
/* fields evaluation */
.evaluation {
    float: right !important;
    padding: 0.5px 10px;
  }

  .alertStatus{
    background-color: red;
  }

  .noStatus{
    display: none;
  }

  .okStatus{
    background-color: green;
  }

  .alertDocument{
    border-color: orangered;
    border-width: 3.5px;
    border-style: solid;
  }
